<div *ngIf="tvShow">
  <div style="margin: 150px">
    <h1>{{tvShow.name}}</h1>
    <p><b>Genres:</b></p>
    <li *ngFor="let genres of tvShow.genres">
      {{genres}}
    </li>
    <br>
    <p><b>Cast:</b></p>
    <li *ngFor="let actor of tvShow.cast">
      {{actor.name}} as {{actor.actor_name}}
    </li>
    <br>
    <br>
    <br>
    <p><b>Summary:</b></p>
    <p>{{tvShow.summary}}</p>

    <ul>
      <div *ngFor="let season of tvShow.seasons">
        <li [routerLink]="['/seasons',season.id]">Season {{season.id}}</li>
      </div>
    </ul>

  </div>
</div>

