<div *ngIf="tvShow">
  <div style="margin: 150px">
      <h1>{{tvShow.name}}</h1>
      <p><b>Genres:</b></p>
      <li *ngFor="let genres of tvShow.genres">
        {{genres}}
      </li>
      <br>
      <p><b>Cast:</b></p>
      <li *ngFor="let cast of tvShow.cast">
        <div [routerLink]="['/shows/actor/',cast.actor_id]">
          {{cast.actor_name}} as {{cast.name}}
        </div>
      </li>
      <br>
      <br>
      <br>
      <p><b>Summary:</b></p>
      <p>{{tvShow.summary}}</p>


      <div *ngFor="let season of tvShow.seasons">
        <button class="collapsible" style="width: 35%; left: 400px;">{{season.number}}</button>
        <div class="content" *ngFor="let episode of season.episodes">
          Episode name: {{episode.name}} <br />
          Episode runtime: {{episode.runtime}} <br />
          <div *ngIf="episode.summary">
            Episode summary: {{episode.summary}}<br />
          </div>
        </div>
      </div>
  </div>
</div>

