<div *ngIf="tvShowsByGenre.length>0; else notExist" class="cardList hover-zoom" fxLayout="column" fxLayoutGap="32px">
  <mat-card  *ngFor="let show of tvShowsByGenre">
    <mat-card-header>
      <mat-card-title>{{ show.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="show.endDate; else stillGoing">
      <p>{{ show.startDate }} - {{ show.endDate }}</p>
    </mat-card-content>
    <ng-template #stillGoing>
      <mat-card-content >
        <p>{{ show.startDate }} - </p>
      </mat-card-content>
    </ng-template>
  </mat-card>
</div>

<ng-template #notExist>
  <p>This genre doesnt have any tv-show</p>
</ng-template>
