<div class="search">
  <div class="header">
    <h1>Dashboard</h1>
  </div>
  <div class="container">
    <div class="genres">
      <div class="genre" *ngFor="let genre of genres">
        <a [routerLink]="['/shows',genre]">{{ genre }}</a>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchString" (input)="onSearch()" placeholder="Search for products" />
    </div>
    <div *ngIf="tvShowBySearch.length > 0">
      <div *ngFor="let show of tvShowBySearch">
        <h2 [routerLink]="['info',show.id]">{{show.name}}</h2>
      </div>
    </div>
  </div>
</div>
